body{
    background-color: #1D1B1B;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img{
    box-shadow: 5px 5px 10px white;
    width: 32%;
    padding: 12px;
    max-height:600px;
    max-width: 600px;
}

.title{
    color:#EC4D37;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 7em;
    text-align: center;
}