body{
    background-color: teal;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img{
    box-shadow: 0 4px 6px #000;
    width: 32%;
    padding-bottom: 24px;
    max-height:700px;
    max-width: 700px;
    overflow: hidden;
}

.title{
    color:red;
}