body{
    background-color: #1D1B1B;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img{
    box-shadow: 5px 5px 20px white;
    width: 28%;
    margin: 30px;
    margin-bottom: 60px;
    max-height: 500px;
}

img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 5px 5px 30px white;
}

.title{
    color:#EC4D37;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 7em;
    text-align: center;
}

.logo{
    position: absolute;
    top: 80px;
    right: 0px;
}